{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li><a href="https://www.facebook.com/gideon.izuchukwu.12"><img src="{% static 'images/fb.svg' %}" alt="..."></a></li>
        <li><a href="https://github.com/Codeon247"><img src="{% static 'images/icons8-github.svg' %}" alt="..."></a></li>
        <li><a href="https://twitter.com/GideonI59562?t=hdoQwqHp48KXXo_iQa-Kzw&s=09"><img src="{% static 'images/twitter.svg' %}" alt="..."></a></li>
        <li><a href="https:www.linkedin.com/in/gideon-ugwuoke-866218281"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
        </ul>
        
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->